body {
    background: rgb(85, 144, 189);
    background: linear-gradient(
      90deg,
      rgba(85, 144, 189, 1) 0%,
      rgba(108, 183, 240, 1) 54%,
      rgba(182, 216, 242, 1) 82%
    );
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
  }

.detail-header{
  display: flex;
}
@media (min-width: 992px){
  .detail.sprite {
    width: 160px;
    height: 160px;
    min-width: 160px;
  }
}
.detail.sprite {
  will-change: opacity;
  width: 140px;
  height: 140px;
  min-width: 140px;
}

@media (min-width: 992px){
  .monster-sprite{
    width: 160px;
  height: 160px;
  }
}

.monster-sprite{
  background-repeat: no-repeat;
  background-position: center center;
  width: 140px;
  height: 140px;
}

.detail.infobox{
  -webkit-box-flex: 1;
  -ms-flex-positive:1;
  flex-grow: 1;
  margin-right: 10px;
}

.detail-types-and-num{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align:center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.detail-national-id{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: right;
  font-size: 30px;
}